/* section */
.section-1{
    background-image: url('../images/backgrounds/hero.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 44px;
    color: fffffff;
}
.menu-top{
    font-size: 16px;
}
.menu-top ul{
    display:inline-block;
    list-style: none;

}
.menu-top ul li{
    padding: 15px 20px;
    float: left;
}
.title{
    height: 464px;
}